@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Данное приложение позволяет получать вакансии с сайта hh.ru и накладывать на них соответствующие фильтры.</p>
<p>Авторы приложения:</p>
<ul>
    <li>Калугина Дарья Александровна</li>
    <li>Захаров Вячеслав Сергеевич</li>
</ul>