@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Екатеринбург<br />
    ул. Мира 19<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">v_zaharov@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">dashakalugina@mail.ru</a>
</address>
